* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* Container */

body {
  /* height: 100vh; */
  width: 100%;
  background-color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 62px auto 0;
  max-width: 932px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 320px;
}
.wrapper-img {
  position: relative;
}
.print-inst {
  position: absolute;
  top: 28px;
  left: 155px;
}
/* Conteúdo Principal */

.content-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #eee;
  max-width: 320px;
}
.container-logo-insta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-insta {
  max-width: 200px;
  margin: 20px;
}
.form-login {
  display: flex;
  flex-direction: column;
  gap: 0.475rem;
}
.form-login input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #eee;
}
.form-login button {
  padding: 0.375rem;
  border: none;
  border-radius: 5px;
  background-color: #b2dffc;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

/* Imagem Celular */
.cel-img {
  /* width: 500px; */
  max-width: 500px;
}

.spn-option {
  text-align: center;
  font-size: 0.685rem;
  margin: 0.875rem 0;
  font-weight: 200;
}

.container-fb-login {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  margin-bottom: 20px;
  font-size: 0.9rem;
}
.container-fb-login a {
  color: #8e8e8e;
}

.fb-logo {
  width: 15px;
  height: 15px;
}
.forget-pass {
  text-align: center;
  font-size: 0.775rem;
}

/* not have account */

.not-have-account {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 2.1rem;
  font-size: 0.875rem;
  border: 1px solid #eee;
}

.claim-app {
  text-align: center;
  margin-bottom: 1.1rem;
  font-size: 0.875rem;
}

.apps-store {
  display: flex;
}
.apps-figure {
  display: flex;
  gap: 1rem;
}

.google-img {
  max-width: 130px;
}
.apple-img {
  max-width: 130px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  margin-top: 3rem;
  font-size: 0.675rem;
  padding: 1rem;
}
.about {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 930px;
  justify-content: center;
}

.about a {
  color: #8e8e8e;
  margin-right: 0.575rem;
  margin-bottom: 0.575rem;
}

.dados a {
  color: #8e8e8e;
}

.others a {
  color: #8e8e8e;
}

.reserved {
  display: flex;
  gap: 1rem;
  color: #8e8e8e;
}

@media (max-width: 600px) {
  .container-img-cel {
    display: none;
  }
  footer {
    margin-top: 3rem;
  }
}

/* @media (max-width: 929px) {
  .container-img-cel {
    display: none;
  }
} */
